:root {
  --background-primary: #222626;
  --background-secondary: #2d3134;
  --red: #90413f;
  --light-red: #b76361;
  --green: #6c863b;
  --blue: #5c8688;
  --white: #dedae0;
  --light-gray: #afafaf;
  --dark-gray: #505155;
  --font-primary: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

html {
  height: 100%;
}
body {
  background: black;
  height: 100%;
  color: var(--white);
}

#root {
  height: 100%;
  overflow: hidden;
}

button {
  font-family: var(--font-primary);
}

a {
  color: var(--blue);
}

input:focus-visible {
  outline: 2px solid var(--blue);
}

.main-wrapper {
  /* font-family: "Share Tech Mono", monospace; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: var(--font-primary);
  background: var(--background-primary);
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
}
