.historyContainer {
  height: 100%;
  padding: 0rem 1rem;
  overflow-y: auto;
  max-width: 40rem;
  margin: 0 auto 1rem;
}

.userSelectContainer p {
  color: var(--light-gray);
}

.sortOrderButton {
  margin: 1rem 0;
}

.session {
  border-radius: 4px;
  background: var(--background-secondary);
  margin-bottom: 1rem;
  animation-name: slide-in-left;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: calc(var(--animation-order) * 50ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.session:last-of-type {
  margin-bottom: 11rem;
}

.date {
  background: var(--white);
  color: var(--background-primary);
  border-radius: 4px 4px 0px 0px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.editSessionButton {
  border: 0;
  background: inherit;
  cursor: pointer;
  color: var(--background-primary);
}

.statsContainer {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.stat {
  font-size: 1.5rem;
}

.statLabel {
  color: var(--light-gray);
  font-size: 0.8rem;
}

@media only screen and (max-width: 400px) {
  .statLabel {
    font-size: 0.5rem;
  }
}
