.historyContainer {
  height: 100%;
  padding: 0rem 1rem;
  overflow-y: auto;
  max-width: 40rem;
  margin: 1rem auto;
}

.session {
  border-radius: 10px;
  background: var(--background-secondary);
  margin-bottom: 1rem;
}

.session:last-of-type {
  margin-bottom: 11rem;
}

.date {
  background: var(--white);
  color: var(--background-primary);
  border-radius: 10px 10px 0px 0px;
  padding: 0.5rem 1rem;
}

.statsContainer {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.stat {
  font-size: 1.5rem;
}

.statLabel {
  color: var(--light-gray);
  font-size: 0.8rem;
}

@media only screen and (max-width: 400px) {
  .statLabel {
    font-size: 0.5rem;
  }
}
