.header-container {
  padding: 1rem 1rem 0rem;
}

.header-content-container {
  display: flex;
  align-items: center;
}

.user-name {
  white-space: nowrap;
  margin-right: 1rem;
}

.profile-link {
  color: var(--light-gray);
  font-size: 2rem;
}
.profile-link:hover {
  color: var(--white);
  transition: all 300ms;
}

.profile-link-active {
  color: var(--white);
}

.header {
  width: 110vw;
  margin: 0rem;
  font-size: 1.5rem;
}

.profile-pic {
  border-radius: 50%;
  width: 3rem;
}
