.profile-container {
  padding: 0 1rem;
  max-width: 500px;
}

.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: stretch;
  margin: 0 auto;
}

.stat-container {
  background: var(--background-secondary);
  border-radius: 4px;
  padding: 1rem;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
}
.stat {
  font-size: 30px;
  margin: 0;
}
.stat-label {
  margin: 0;
  color: var(--light-gray);
}
