.rankingsContainer {
  height: 100%;
  padding: 0rem 1rem;
  overflow-y: auto;
}

.currentStatLabel {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
  color: var(--light-gray);
}

.userCard {
  border-radius: 10px;
  background: var(--background-secondary);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.userCard:last-of-type {
  margin-bottom: 11rem;
}

.userInfoContainer {
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rank {
  padding-right: 1rem;
  color: var(--light-gray);
}

.userPicContainer {
  background: var(--dark-gray);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stat {
  font-size: 1.5rem;
}

.statLabel {
  color: var(--light-gray);
  font-size: 0.8rem;
}
