.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--white);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0.5rem 0 0 1rem;
  background: var(--background-secondary);
  border-radius: 10px;
  width: 10rem;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 1rem;
  animation: growDown 200ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.dropdownOption {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  transition: background-color 100ms ease;
}

.dropdownOption:hover {
  background-color: #ddd;
}

.rankingsContainer {
  height: 100%;
  padding: 0rem 1rem;
  overflow-y: auto;
  max-width: 40rem;
  margin: 1rem auto 0;
}

.visible {
  display: block;
}

.userCard {
  border-radius: 10px;
  background: var(--background-secondary);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 50ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

.userCard:last-of-type {
  margin-bottom: 14rem;
}

.userInfoContainer {
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rank {
  padding-right: 1rem;
  color: var(--light-gray);
}

.userPicContainer {
  background: var(--dark-gray);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stat {
  font-size: 1.5rem;
}

.statLabel {
  color: var(--light-gray);
  font-size: 0.8rem;
}

@media only screen and (max-width: 400px) {
  .userCard {
    font-size: 1rem;
  }
}
