.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0;
}

.make-miss-btn {
  width: 8rem;
  height: 4rem;
  background: #202225;
  border: 2px solid #f5f5f5;
  border-radius: 4px;
  color: #f5f5f5;
  filter: brightness(110%);
  font-size: 1.4rem;
}
.miss-btn {
  border-color: #c23b23;
}
.make-btn {
  border-color: #03c03c;
}

.timer {
  font-size: 1.5rem;
  width: 4rem;
}

.session-stat {
  font-size: 1.4rem;
}
