.container {
  padding: 0rem 1rem 4.5rem;
}

.user-select-container {
  margin: 0 auto 1rem;
}

.user-select-container p {
  color: var(--light-gray);
}

.timer-container {
  margin: 1rem auto 1rem;
  box-sizing: border-box;
  background: var(--background-secondary);
  border: 4px solid var(--white);
  border-radius: 50%;
  height: 20vh;
  width: 20vh;
  font-size: 2rem;
  display: grid;
  place-items: center;
}
.timer-container--paused {
  color: var(--light-gray);
  border-color: var(--light-gray);
}
.timer {
  place-self: center;
}

.session-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: stretch;
  margin: 0 auto;
}

.stat-container {
  background: var(--background-secondary);
  border-radius: 4px;
  padding: 1rem;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
}
.stat {
  font-size: 1.8rem;
  margin: 0;
}
.stat-label {
  margin: 0;
  color: var(--light-gray);
}

.make-miss-btn {
  justify-self: stretch;
  padding: 2rem;
  background: #202225;
  border: none;
  border-radius: 4px;
  color: #f5f5f5;
  filter: brightness(110%);
  font-size: 2rem;
  cursor: pointer;
  transition: transform 100ms ease;
}
.make-miss-btn:active {
  transform: scale(0.98);
}
.miss-btn {
  background: var(--red);
}
.make-btn {
  background: var(--green);
}

.log-session-btn {
  /* grid-area: 4 / 1 / 5 / 3; */
  justify-self: stretch;
  padding: 2rem;
  background: var(--dark-gray);
  border: none;
  border-radius: 4px;
  color: #f5f5f5;
  filter: brightness(110%);
  font-size: 1.4rem;
}

.log-session-btn:disabled {
  filter: brightness(80%);
  cursor: not-allowed;
}

@media only screen and (max-height: 800px) {
  .timer-container {
    height: 5rem;
    border-radius: 4px;
    border-width: 4px;
  }

  .user-select-container {
    font-size: 14px;
  }
}

@media only screen and (max-height: 860px) {
  .stat-container {
    padding: 0.5rem 1rem;
  }
  .stat {
    font-size: 1rem;
  }

  .make-miss-btn {
    padding: 2rem;
    font-size: 1rem;
  }

  .log-session-btn {
    padding: 1.5rem;
    font-size: 1rem;
  }
}

@media only screen and (max-height: 600px) {
  .make-miss-btn {
    padding: 1.5rem;
    font-size: 1rem;
  }
}
