body {
  background: #202225;
  height: 100%;
  color: #f5f5f5;
}

.main-wrapper {
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  /* font-family: "Roboto", sans-serif; */
}

.main-header {
  text-align: center;
}
