:root {
  --background-primary: #222626;
  --background-secondary: #2d3134;
  --red: #90413f;
  --green: #7a933c;
  --white: #dedae0;
  --light-gray: #afafaf;
  --dark-gray: #505155;
}

body {
  background: #202225;
  height: 100%;
  color: #f5f5f5;
}

.main-wrapper {
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  /* font-family: "Roboto", sans-serif; */
}

.main-header {
  text-align: center;
  background-color: #414349;
  width: 110vw;
  padding: 1rem 0rem;
  margin: 0;
}
