:root {
  --background-primary: #222626;
  --background-secondary: #2d3134;
  --red: #90413f;
  --green: #7a933c;
  --white: #dedae0;
  --light-gray: #afafaf;
  --dark-gray: #505155;
  --font-primary: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

body {
  background: var(--background-primary);
  height: 100%;
  color: var(--white);
}

button {
  font-family: var(--font-primary);
}

.main-wrapper {
  text-align: center;
  /* font-family: "Share Tech Mono", monospace; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: var(--font-primary);
}

.main-header {
  text-align: center;
  background-color: #414349;
  width: 110vw;
  padding: 1rem 0rem;
  margin: 0;
}
